path {
    stroke-width: 2;
    fill: none;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}
